
h1{
    margin: 0 auto;
    text-align: left;
}
.delivery{
    margin-top: -40px;
    margin-left: 700px;
}
.delivery .link{
    font-size: x-large;
    /* margin-left:  */
}
.new-link a{
    font-size: medium;
    border: 1px solid #0074d9;
    margin-left: 10px;
}
.new-link a:hover{
    background-color: #0074d9;
    color: white;
}
.search-form{
    float: right;
    margin-top: -30px;
    margin-left: 820px;
}

.form{
    margin-left: 350px;
    width: 700px;
}
.form .form-group .col{
    padding: 10px;
}
.alert{
    width: 450px;
}